:root {
    --green-color1: hsl(158, 36%, 37%);
    --green-color2: hsl(158, 42%, 18%);
    --black-color: hsl(212, 21%, 14%);
    --grey-color: hsl(228, 12%, 48%);
    --cream-color: hsl(30, 38%, 92%);
    --white-color: hsl(0, 0%, 100%);
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: var(--cream-color);
    padding: 75px 14px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#card-container {
    max-width: 400px;
    background-color: var(--white-color);
    border-radius: 8px;
    overflow: hidden;
}

#card-container > img {
    width: 100%;
}

#card-main {
    padding: 32px;
}

#category {
    margin: -3px 0 1px;
    color: var(--grey-color);
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#name, #new-price {
    font-family: 'Fraunces', 'Montserrat', serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

#description {
    line-height: 160%;
    color: var(--grey-color);
}

#prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 21px 0;
}

#new-price {
    color: var(--green-color1);
}

#old-price {
    text-decoration: line-through;
    font-size: 13px;
    line-height: 120%;
    color: var(--grey-color);
}

#cart {
    width: 100%;
    padding: 17px;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--green-color1);
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#cart:hover {
    background-color: var(--green-color2);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    body {
        align-items: center;
        padding: 0 14px;
        height: 100vh;
    }

    #card-container {
        max-width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #card-container > img {
        content:url("./images/image-product-desktop.jpg");
    }

    #category {
        margin: 0 0 10px;
    }

    #prices {
        margin: 30px 0;
    }
}